*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body, p, ul, ol, h1, h2, h3, figure {
    margin: 0;
}
body {
    font-family: "Arial", "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", "\5B8B\4F53", "sans-serif";
    font-size: 16px;
    line-height: 2;
}
a {
    color: #09f;
    text-decoration: none;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
.page {
    padding: 16px;
}
.list:before,
.list:after {
    content: '';
    display: table;
}
.list:after {
    clear: both;
}
.list {
    list-style: none;
    margin: 0 -16px;
    padding: 8px;
}
.list li {
    float: left;
    width: 50%;
    padding: 8px;
    text-align: center;
}
.list li img {
    width: 100%;
    display: block;
}
.list-photo {
    display: block;
    border: 2px solid #666;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.list-name {
    display: block;
    padding: 4px 8px;
    background-color: #666;
    color: #fff;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.can .list-photo {
    border-color: #6c0;
}
.can .list-name {
    background-color: #6c0;
}
.cannot .list-photo {
    border-color: #600;
}
.cannot .list-name {
    background-color: #600;
}
.list-recommand {
    list-style: none;
    padding: 0 0 8px;
}
.list-recommand > li {
    margin-top: 16px;
    padding: 16px;
    border: 2px solid #c60;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.list-recommand > li:first-child {
    margin-top: 8px;
}
.section {
    margin-top: 1rem;
}
h1 {
    text-align: center;
}
h2:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid #09f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.list-tbk li {
    width: 25%;
    position: relative;
}
.list-tbk .list-name {
    max-height: 72px;
}
.list-price {
    display: block;
    font-weight: bold;
    color: #600;
    font-size: 20px;
}
.list-price:before {
    content: '￥';
}
.full-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}